* {
  margin: 0;
}

#root {
  background-color: lightyellow;
  height: 100vh;
  height: 100dvh;
  display: grid;
  grid-auto-rows: auto 1fr auto;
}

main {
  display: flex;
}

header,
footer {
  background-color: pink;
  white-space: nowrap;
  overflow: hidden;
}

nav {
  background-color: orange;
  max-width: 25em;
}

nav div {
  min-width: 8em;
}

aside {
  background-color: orange;
  overflow: hidden;
  min-width: 0;
  max-width: 0;
}

#map {
  background-color: lightblue;
  flex: 1;
}

@media screen and (max-width: 500px) {
  nav {
    max-width: 0.25em;
  }
  nav div {
    visibility: hidden;
  }
}
