* {
    margin: 0;
}

#root {
    background-color: lightyellow;
    height: 100vh;
    display: grid;
    grid-auto-rows: auto 1fr auto;
}

main {
    display: flex;
}

header, footer {
    background-color: pink;
}

nav, aside {
    background-color: orange;
    min-width: 15em;
    max-width: 30em;
}

#map {
    background-color: lightblue;
    flex: 1;
}
