#overlay {
    background-color: white;
    max-width: 15em;
    text-align: center;
    padding: 0.25em;
    border-radius: 0.25em;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    margin-bottom: 1.5em;
}

#overlay:after {
    content: "";
    bottom: 0.5em;
    transform: translateX(-50%);
    border-top: 1em solid white;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}